{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["@typescript-eslint"],
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "rules": {
    "eol-last": "off",
    "no-unused-vars": "off",
    "class-methods-use-this": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-dupe-class-members": "off",
    "max-classes-per-file": "off",

    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",

    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
